.Nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 413px;
}
.Item {
	color: rgba(90, 90, 90, 1);
	text-decoration: none;
	line-height: 18.5px;
	position: relative;
	&:hover {
		font-weight: bold;
		font-size: 1rem;
	}
	&:hover::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 3px;
		top: 43px;
		border-bottom: 3px solid rgba(150, 195, 97, 1);
		padding-left: -1px;
	}
}
