.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.3px solid rgba(150, 195, 97, 1);
	padding-bottom: 12px;
	margin-top: 25px;
	padding-left: 6px;
	padding-right: 6px;
}
